# -----------------------------------------------------------------------------
# CRONWRAPPER * config
# see https://www.axel-hahn.de/docs/cronwrapper/Configuration.html
# -----------------------------------------------------------------------------

# ----- shared values:
CW_LOGDIR=/var/tmp/cronlogs


# ----- for cronwrapper
# deny multiple execution of the same job? set 0 or 1
SINGLEJOB=1

# directory with hooks
HOOKDIR=./hooks


# ----- for sync of local logs
# see https://www.axel-hahn.de/docs/cronwrapper/Usage/Cronlog_Sync.html

TOUCHFILE=lastsync
TARGET=get-cronlogs@cronlogviewer.example.com:/var/tmp/allcronlogs/$( hostname -f )
SSHKEY=/root/.ssh/id_rsa_get-cronlogs@cronlogviewer.example.com

# force rsync even if no change was found - time in sec
SYNCAFTER=3600

# disallow hosts that have no domain in hostname -f; set 0 or 1
REQUIREFQDN=0

# -----------------------------------------------------------------------------
