# -----------------------------------------------------------------------------
# CRONWRAPPER * environment
# -----------------------------------------------------------------------------

# export PATH=$PATH:...
# umask 0022

# -----------------------------------------------------------------------------